.home{
  font-family: Arial, sans-serif;
  background-color: #17173d;
  height: 100vh;
}

.navbar {
  background-color: #2b2b5a;
  padding: 10px 0;
  text-align: right;
}

.connect-wallet-button span {
  color: #08e15f;
}

.hero{
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-container {
  text-align: center;
  margin: 70px 0;
}

.lumos-hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.title {
  color: white;
  margin-bottom: 1rem;
  font-weight: bold;
}

.subtitle {
  color: white;
  margin-bottom: 2rem;
}

.wallet-action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px 0;
}

.wallet-input {
  width: 100%;
  padding: 10px;
  margin: 10px;
  border-radius: 8px;
  border: 2px solid #5571db;
  color: #333;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.send-lms{
  font-weight: bolder;
  text-wrap: nowrap;

}

.error-message {
  color: red;
  margin-top: 20px;
}

.success-message {
  color: green;
  margin-top: 20px;
}

.transaction-box {
  margin-top: 20px;
  background-color: white;
  color: #333;
  border-radius: 8px;
}

.panel-heading {
  background-color: #2b2b5a;
  color: white;
  padding: 10px;
  border-radius: 8px 8px 0 0;
}

.lumos-panel-content {
  padding: 10px;
  color: #333;
}

.footer{
  margin-top: 70px;
  color: white;
  text-align: center;
}

